* {
  margin: 0;
  padding: 0;
  color: #fff;
}
.App {
  background-color: black;
  min-height: 100vh;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.input input {
  padding: 12px 15px;
  color: black;
}

.table {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.each-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.name {
  display: flex;
}

.name h3 {
  margin: 0;
  font-size: 18px;
}

h4 {
  margin: 0;
  font-size: 16px;
}

hr {
  width: 90%;
  margin: 10px auto;
  border: none;
  border-top: 1px solid #ccc;
}
